/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body {
  /* background-color: #060ce9; */
  background-color: black;
  text-align: center;
}

h1 {
  /* color: white; */
  color: orange;
  font-size: 5em;
  text-shadow: red 3px 3px;
  /* text-shadow: red; */
}

#board {
  width: 100%;
  /* background-color: rgb(49, 109, 194); */
  background-color: #060ce9;
  vertical-align: center;
  /* overflow-x: auto; */
}

table,
th,
td {
  border-collapse: collapse;
  /* border: 8px solid #2a3698; */
  border: 8px solid black;
  margin: auto;
}

th {
  /* background-color: rgb(38, 100, 189); */
  background-color: #060ce9;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: rgb(172, 38, 113) 2px 2px;
  height: 5em;
  color: white;
  padding: 10px;
}

td {
  height: 100px;
  width: 100px;
  padding: 8px;
  line-height: 1.4;
  color: gold;
}

td:after {
  content: "\00A0";
}

td:hover {
  background-color: lightslategray;
}

/* Center the loader */
#loader {
  display: none;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 50%;
  /* border: 50px solid #f3f3f3; */
  border-radius: 75%;
  border-top: 15px solid yellow;
  border-right: 15px solid fuchsia;
  border-bottom: 15px solid blue;
  border-left: 15px solid tomato;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    opacity: 1;
    width: 75px;
    height: 75px;
    margin: 0 -40px;
    -webkit-transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    width: 75px;
    height: 75px;
    margin: 0 -40px;
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    width: 75px;
    height: 75px;
    margin: 0 -40px;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    width: 75px;
    height: 75px;
    margin: 0 -40px;
    transform: rotate(360deg);
  }
}

#game {
  display: none;
  text-align: center;
  margin: 50px;
}

/* start and restart button styling */
#startGame,
#restartGame {
  font-size: 40px;
  color: red;
  background: yellow;
  padding: 0.5em;
  margin: 1em;
  border: 4px solid red;
  border-radius: 15px;
}

#startGame:hover,
#restartGame:hover {
  background: rgb(247, 164, 57);
  border: 4px solid red;
  color: black;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
